a {
    text-decoration: none;
    color: inherit;
}

.app {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    display: flex;
    align-items: center
}

.navbar__item {
    list-style-type: none;
    display: flex;
}

.navbar__link {
    padding: 0 10px;
}

.homePage__content{
    display: flex;
}
